.top-navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 16vh;
}

.main-nav {
    width: clamp(300px, 25%, 400px);
}

.nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    font-size: 1.4rem;
}

.logo-wrapper h1 {
    font-size: 2rem;
    font-weight: 500;
}

.floating-nav {
    box-shadow: 0 0.7px 0.5px rgba(0, 0, 0, 0.07),
        0 1.9px 1.3px rgba(0, 0, 0, 0.046), 0 4.5px 3px rgba(0, 0, 0, 0.035),
        0 15px 10px rgba(0, 0, 0, 0.024);

    position: fixed;
    z-index: 999;
    bottom: 36px;
    left: 50%;
    font-weight: 500;
    transform: translateX(-50%);
    width: 320px;
    background-color: #fff;
    padding: 16px 32px;
    border-radius: 50px;

    border: 1px solid rgba(0, 0, 0, 0.045);
}

.floating-nav .nav-links a {
    color: rgb(40, 40, 41);
}
